{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO CRM</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^22/dist/tailwind.min.css"> -->
<script src="https://cdn.tailwindcss.com"></script>
<body>
    <div class="max-w-7xl mx-auto ">
        {% include "nav.html" %}
        {% block content %}
        {% endblock %}
    </div>
   
    
</body>
</html>